$title-height: 85px;

section.availability {
  height: 100%;

  .channel-list {
    height: 100%;

    h3 {
      padding-left: 20px;
      margin-top: 6px;
    }

    .channels {
      height: 100%;

      .menu-title {
        font-size: 24px;
        text-align: center;
        height: 42px;
      }

      ul {
        max-height: calc(100% - #{$title-height});
        overflow-y: auto;
        border: 2px solid $default-color;
        border-radius: 6px;

        & > li {
          padding: 8px;
          border-top: 2px solid $default-color;
          position: relative;
          cursor: pointer;

          &:first-child {
            border-top: none;
          }

          &:hover {
            background: #f5f5f5;

            .expand {
              display: inline;
            }
          }

          &.current {
            background: $primary-color;
          }
        }
      }
    }
  }

  .nav-tabs {
    border-bottom: none;
  }

  .availability-details {
    height: 100%;

    $tab-head-height: 42px;
    .nav-tabs {
      height: $tab-head-height;
      width: 100%;
      position: relative;
      overflow: hidden;
      white-space: nowrap;
      padding-top: 16px;

      & > li {
        padding: 2px 20px;
        cursor: pointer;
        border: 2px solid $default-color;
        display: inline-block;
        float: none;
        margin-left: 1px;
        border-top-left-radius: 6px;
        border-top-right-radius: 6px;

        &:first-child {
          margin-left: 28px;
        }

        &:last-child {
          margin-right: 28px;
        }

        a {
          padding-right: 19px;
          padding-left: 30px;
          border-radius: 6px 6px 0 0;
        }

        &.active {
          background-color: $primary-color;
          border-color: $primary-color;
        }
        &:hover:not(.active), {
          background-color: #eee;
          border: 2px solid $default-color;
        }

        &:hover .fa {
          opacity: 1;
        }

        .fa {
          position: absolute;
          right: 4px;
          top: 5px;
          color: #aaa;
          opacity: 0;

          &:hover {
            cursor: pointer;
            color: #777;
          }
        }
      }
    }

    .scroll-left, .scroll-right {
      position: absolute;
      top: 14px;
      background: white;
      border: none;
      width: 27px;
      height: 28px;
      font-weight: bold;
      color: #aaa;

      &:focus {
        outline: none;
      }
    }

    .scroll-left {
      left: 15px;
    }

    .scroll-right {
      right: 15px;
    }

    .tab-content {
      height: calc(100% - #{$title-height});

      .tab-pane {
        height: 100%;

        .table > thead > tr > th {
          border-bottom: 2px solid $default-color;
        }

        table {
          width: 100%;
          height: 100%;
          border: 2px solid $default-color;
          display: block;

          thead, tbody, tr, td, th {
            display: block;
          }

          $cell-height: 51px;
          tbody tr {
            height: $cell-height;

            &:first-child td {
              border-top: none;
            }

            td {
              height: $cell-height;
              &:nth-child(n+3) {
                line-height: $cell-height - 10px;
              }
            }
          }

          tr:after {
            content: ' ';
            display: block;
            visibility: hidden;
            clear: both;
          }

          $head-height: 30px;
          thead th {
            height: $head-height;
          }

          tbody {
            height: calc(100% - #{$head-height});
            overflow-y: auto;
          }

          tbody td, thead th {
            width: 25%;
            float: left;
            text-align: center;
          }
        }
      }
    }
  }
}
