@import "../../bower_components/bootstrap-sass/assets/stylesheets/bootstrap";
@import "../../bower_components/flat-ui/dist/css/flat-ui";
$fa-font-path: "../../bower_components/font-awesome/fonts";
@import "../../bower_components/font-awesome/scss/font-awesome";

$primary-color: #1abc9c;
$default-color: #bdc3c2;

.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

html, body {
  width: 100%;
  height: 100%;
}

$header-height: 71px;

header,
footer {
  padding-left: 15px;
  padding-right: 15px;
}

/* Custom page header */
header {
  height: $header-height;

  a {
    cursor: pointer;
  }

  .navbar-default .navbar-nav > li.current > a {
    color: $primary-color;
  }
}

/* Custom page footer */
footer {
  padding-top: 19px;
  color: #777;
  border-top: 1px solid #e5e5e5;
}

body {
  padding: 0;
  //font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;

  & > .container {
    margin-bottom: 20px;
    height: calc(100% - #{$header-height} - 20px);
    overflow: hidden;

    [ng-view] {
      height: 100%;
    }
  }
}
h1, h2, h3, h4, h5 {
  font-family: "Lato", Helvetica, Arial, sans-serif;
}

.table, .list-unstyled {
  border-radius: 6px;
}

@import "availability";
@import "data";
@import "../scripts/directives/inputGroupButton/inputGroupButton";
