<!doctype html>
<html class="no-js">
  <head>
    <meta charset="utf-8">
    <title>Availability Test App</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">
    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
    <!-- build:css(.) styles/vendor.css -->
    <!-- bower:css -->
    <link rel="stylesheet" href="bower_components/font-awesome/css/font-awesome.css" />
    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css" />
    <link rel="stylesheet" href="bower_components/angular-bootstrap-scrolling-tabs/scrolling-tabs.css" />
    <link rel="stylesheet" href="bower_components/videojs/dist/video-js/video-js.css" />
    <link rel="stylesheet" href="bower_components/flat-ui/dist/css/flat-ui.css" />
    <link rel="stylesheet" href="bower_components/eonasdan-bootstrap-datetimepicker/build/css/bootstrap-datetimepicker.min.css" />
    <!-- endbower -->
    <!-- endbuild -->
    <!-- build:css(.tmp) styles/main.css -->
    <link rel="stylesheet" href="css/main.css">
    <!-- endbuild -->
    <link rel="stylesheet" href="bower_components/angular/angular-csp.css" />
  </head>
  <body ng-app="ca.nanometrics" ng-controller="PageController">
    <!--[if lt IE 7]>
      <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->

    <!-- Add your site or application content here -->
    <header>
      <div class="navbar navbar-default navbar-fixed-top" role="navigation">
        <div class="container">
          <ul class="nav navbar-nav" ng-cloak>
            <li ng-repeat="page in pages" ng-class="{ current: isCurrentPage(page.name) }"><a ng-click="setPage(page)">{{page.name}}</a></li>
          </ul>
        </div>
      </div>
    </header>

    <div class="container">
      <ng-include src="'views/availability.html'" ng-controller="AvailabilityController" ng-show="isCurrentPage('Availability')"></ng-include>
      <ng-include src="'views/data.html'" ng-controller="DataController" ng-show="isCurrentPage('Data')"></ng-include>
    </div>

    <!-- build:js(.) scripts/vendor.js -->
    <!-- bower:js -->
    <script src="bower_components/jquery/dist/jquery.js"></script>
    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/angular-animate/angular-animate.js"></script>
    <script src="bower_components/angular-cookies/angular-cookies.js"></script>
    <script src="bower_components/angular-fontawesome/dist/angular-fontawesome.js"></script>
    <script src="bower_components/angular-resource/angular-resource.js"></script>
    <script src="bower_components/angular-route/angular-route.js"></script>
    <script src="bower_components/angular-sanitize/angular-sanitize.js"></script>
    <script src="bower_components/angular-touch/angular-touch.js"></script>
    <script src="bower_components/bootstrap-sass/assets/javascripts/bootstrap.js"></script>
    <script src="bower_components/moment/moment.js"></script>
    <script src="bower_components/angular-bootstrap/ui-bootstrap-tpls.js"></script>
    <script src="bower_components/bootstrap/dist/js/bootstrap.js"></script>
    <script src="bower_components/angular-bootstrap-scrolling-tabs/scrolling-tabs.js"></script>
    <script src="bower_components/videojs/dist/video-js/video.js"></script>
    <script src="bower_components/flat-ui/dist/js/flat-ui.js"></script>
    <script src="bower_components/eonasdan-bootstrap-datetimepicker/build/js/bootstrap-datetimepicker.min.js"></script>
    <!-- endbower -->
    <!-- endbuild -->

    <script src="scripts/directives/inputGroupButton/inputGroupButton.js"></script>
    <script src="scripts/directives/tabBar/tabBar.js"></script>
    <script src="scripts/directives/channelBox/channelBox.js"></script>
    <script src="scripts/directives/timeRangePicker/timeRangePicker.js"></script>
    <!-- build:js({.tmp,app}) scripts/scripts.js -->
    <script src="scripts/app.js"></script>
    <script src="scripts/controllers/page.js"></script>
    <script src="scripts/controllers/availability.js"></script>
    <script src="scripts/controllers/data.js"></script>
    <script src="scripts/services/availability.js"></script>
    <script src="scripts/services/data.js"></script>
    <!-- endbuild -->

  </body>
</html>
