<div class="row">
  <div class='col-md-6'>
    <div class="form-group">
      <label>Start:</label>
      <div class='input-group date start-date input-group-button'>
        <input type='text' class="form-control" />
        <span class="input-group-addon">
          <span class="fa fa-calendar"></span>
        </span>
      </div>
    </div>
  </div>
  <div class='col-md-6'>
    <div class="form-group">
      <label>End:</label>
      <div class='input-group date end-date input-group-button'>
        <input type='text' class="form-control" />
        <span class="input-group-addon">
          <span class="fa fa-calendar"></span>
        </span>
      </div>
    </div>
  </div>
</div>
