<ul class="nav nav-tabs" role="tablist">
  <li ng-repeat="tab in tabs" ng-click="setActiveTab({ tab: tab })" ng-class="{ active: tab.data.id === activeTabId }">
    {{tab.data.id}} <fa name="close" ng-click="removeTab(tab)"></fa>
  </li>
</ul>
<button class="scroll-left" ng-mousedown="tabLeftMousedown()" ng-mouseup="tabLeftMouseup()">&lt;</button>
<button class="scroll-right" ng-mousedown="tabRightMousedown()" ng-mouseup="tabRightMouseup()">&gt;</button>
