<section class="availability">
  <div class="row">
    <div class="col-md-12">
      <div class="input-group input-group-button">
        <input type="text" class="form-control" placeholder="http://" ng-model="$parent.source" ng-keypress="onKeypress($event)"/>
        <span class="input-group-btn">
          <button class="btn btn-default" type="button" ng-click="fetch()">Fetch</button>
        </span>
      </div>
    </div>
  </div>
  <section class="channel-list col-md-3" ng-show="haveData">
    <div class="channels">
      <div class="menu-title">Channels</div>
      <ul class="list-unstyled">
        <li ng-repeat="channelPath in data.availability" ng-click="addTab(channelPath)" ng-class="{ current: channelPath.id === activeTabId }">{{channelPath.id}}</li>
      </ul>
    </div>
  </section>
  <section class="availability-details col-md-9" ng-show="activeTabId">
    <tab-bar tabs="tabs" active-tab-id="activeTabId" set-active-tab="setActiveTab(tab)"></tab-bar>
    <div class="tab-content">
      <div class="tab-pane" ng-class="{ active: tab.data.id === $parent.activeTabId }" id="{{tab.paneId}}" ng-repeat="tab in tabs">
        <table class="table table-condensed table-striped">
          <thead>
            <tr>
              <th>Start time</th>
              <th>End time</th>
              <th>First sequence</th>
              <th>Last sequence</th>
            </tr>
          </thead>
          <tbody>
            <tr ng-repeat="range in tab.data.ranges">
              <td>{{range.startTime | nanodate}}</td>
              <td>{{range.endTime | nanodate}}</td>
              <td><div>{{range.firstSequence}}</div></td>
              <td>{{range.lastSequence}}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </section>
</section>
