<section class="data">
  <div class="row">
    <div class="col-md-12">
      <input type="text" class="form-control" placeholder="http://" ng-model="$parent.source" />
    </div>
  </div>
  <time-range-picker start-date="startDate" start-date-changed="startDateChanged(date)" end-date="endDate" end-date-changed="endDateChanged(date)"></time-range-picker>
  <label>Channels:</label><channel-box channels="channels" channels-changed="channelsChanged(channels)"></channel-box>
  <button type="button" class="btn btn-primary" ng-click="download()">Download</button>
</section>
